.email-avatar {
    padding-right: 20px;
}

.preview-box {
    width: 1000px;
}

.preview-box>* {
    margin: 0;
    padding: 0;
}

.div-email-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.email-starred-box {
    width: 100px;
    height: 100%;
}

.p-subject {
    font-weight: 600;
    color: rgb(49, 49, 49);
    font-size: 18px;
    margin: auto;
    width: 300px;
}

.p-body {
    font-size: 18px;
    margin: auto;
    color: rgba(136, 136, 136);
    width: 600px;
}

.markit {
    background-color: rgb(245, 245, 245);
}