/*  parts imports */
@import 'parts/user-msg.css';

/*  note app imports */

@import 'apps/keep/cmp/note-preview.cmp.css';
@import 'apps/keep/cmp/note-txt.cmp.css';
@import 'apps/keep/cmp/note.img.cmp.css';
@import 'apps/keep/cmp/note-todos.cmp.css';
@import 'apps/keep/cmp/note-video.cmp.css';
@import 'apps/keep/cmp/note.filter.cmp.css';
@import 'apps/keep/pages/note-app.cmp.css';
@import 'apps/keep/pages/note-details.cmp.css';

/* email app imports*/

@import 'apps/email/pages/email-app.cmp.css';
@import 'apps/email/pages/email-details.cmp.css';
@import 'apps/email/cmp/email-list.cmp.css';
@import 'apps/email/cmp/email-filter.cmp.css';
@import 'apps/email/cmp/email-preview.cmp.css';
@import 'apps/email/cmp/email-side-ruler.css';
@import 'apps/email/cmp/email-compose.css';

/* main */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */

.app-header {
  padding: 10px;
  height: 5vh;
  background-color: #f7d08a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

.app-footer {
<<<<<<< HEAD
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  /* height: 5vh; */
  background-color: #f7d08a;
}

.app-main {
  height: 90vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f7d08a;
=======
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    /* height: 5vh; */
    background-color: #f7d08a;
}

.app-main {
    height: 90vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f7d08a;
>>>>>>> 0e01829b6581c499798a2dbbf58cc2735fd9c8a1
}


/* Helpers */

.flex {
    display: flex;
}

.flex-column {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  overflow: scroll;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  /* margin: bottom 10px; */
}
=======
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
>>>>>>> 0e01829b6581c499798a2dbbf58cc2735fd9c8a1
