/*  note app imports */

@import 'apps/keep/cmp/note-preview.cmp.css';
@import 'apps/keep/cmp/note-txt.cmp.css';
@import 'apps/keep/cmp/note.img.cmp.css';
@import 'apps/keep/cmp/note-todos.cmp.css';
@import 'apps/keep/cmp/note-video.cmp.css';
@import 'apps/keep/pages/note-app.cmp.css';
@import 'apps/keep/pages/note-details.cmp.css';

/* email app imports*/

@import 'apps/email/pages/email-app.cmp.css';
@import 'apps/email/pages/email-details.cmp.css';
@import 'apps/email/cmp/email-list.cmp.css';
@import 'apps/email/cmp/email-preview.cmp.css';
@import 'apps/email/cmp/email-side-ruler.css';
@import 'apps/email/cmp/email-compose.css';

/* main */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */

.app-header {
  padding: 10px;
  height: 5vh;
  background-color: #f7d08a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

.app-footer {
<<<<<<< HEAD
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  /* height: 5vh; */
  background-color: #f7d08a;
}

.app-main {
  height: 90vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
=======
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f7d08a;
}

.app-main {
    height: 90vh;
    background-color: #f0f0f0;
}


/* Helpers */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
>>>>>>> ab2f8e5b5510cb0cccf751044a6df85e2f46384e
