/*  parts imports */

@import 'parts/user-msg.css';
@import 'parts/app-header.css';
@import 'parts/home-page.css';

/*  note app imports */

@import 'apps/keep/cmp/note-preview.cmp.css';
@import 'apps/keep/cmp/note-txt.cmp.css';
@import 'apps/keep/cmp/note.img.cmp.css';
@import 'apps/keep/cmp/note-todos.cmp.css';
@import 'apps/keep/cmp/note-video.cmp.css';
@import 'apps/keep/cmp/note.filter.cmp.css';
@import 'apps/keep/pages/note-app.cmp.css';
@import 'apps/keep/pages/note-details.cmp.css';

/* email app imports*/

@import 'apps/email/pages/email-app.cmp.css';
@import 'apps/email/pages/email-details.cmp.css';
@import 'apps/email/cmp/email-list.cmp.css';
@import 'apps/email/cmp/email-filter.cmp.css';
@import 'apps/email/cmp/email-preview.cmp.css';
@import 'apps/email/cmp/email-side-ruler.css';
@import 'apps/email/cmp/email-compose.css';

/* fonts */

@font-face {
  font-family: ubo-regular;
  src: url(../fonts/email/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: handwriting;
  src: url(../fonts/email/Pacifico-Regular.ttf);
}

/* main */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */

.app-header {
  padding: 10px;
  height: 10vh;
  background-color: rgb(212, 238, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  height: 10vh;
  background-color: rgb(212, 238, 255);
}

.app-main {
  height: 89vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(212, 238, 255);
}

/* Helpers */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  overflow: scroll;
  /* height: 95%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  /* margin: bottom 10px; */
}
