.todo-container {
  justify-content: start;
  padding-left: 10px;
  height: 90%;
}
.label {
}
.struckThough {
  text-decoration: line-through;
}
li:hover {
  cursor: pointer;
}
li {
  word-wrap: break-word;
}
