.img-container {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.img {
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.title {
  text-align: center;
}
