.add-note {
    font-size: 25px;
    width: 50%;
    border: 0;
    margin-left: 30px;
    resize: none;
}

::-webkit-input-placeholder {
    /* text-align: center; */
}

.input-icon span {
    padding: 20px;
    /* padding-top: 50px; */
    font-size: 45px;
    opacity: 0.3;
}

.input-icon span:hover {
    cursor: pointer;
    opacity: 1;
}

.input-icon {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 30px;
    /* margin: 10px; */
}

.input-icon span.active {
    /* background-color: blue; */
    opacity: 1;
}

.active {
    opacity: 1;
}

.input-palette {
    padding: 0;
    /* position: absolute; */
    height: 24px;
    width: 24px;
    opacity: 0;
    border: none;
    position: absolute;
    top: -7px;
    left: 0;
    -webkit-appearance: none;
    z-index: 1;
    cursor: pointer;
}

.palette-continer {
    width: 100px;
    height: 100px;
    position: relative;
}

.palette-continer .material-icons {
    /* color: rgba(214, 39, 39, 0.952); */
    /* opacity: 0.6; */
}